<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  
  <listener>
    <listener-class>com.zxd.pan.listener.H2DBinitListener</listener-class>
  </listener>
  
  <filter>
    <filter-name>VCFilter</filter-name>
    <filter-class>com.zxd.pan.filter.VCFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>VCFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>MastLoginFilter</filter-name>
    <filter-class>com.zxd.pan.filter.MastLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MastLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 启动Spring的容器  -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring.xml</param-value>
  </context-param>
  
  <!-- Bootstraps the root web application context before servlet initialization -->
   <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  
  <!--2. SpringMVC的前端控制器 -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.ajax</url-pattern>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  
  
  <listener>
    <listener-class>com.zxd.pan.listener.SCListener</listener-class>
  </listener>
  
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>/homeController/index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errorController/pageNotFound.do</location>
  </error-page>
</web-app>